/* HTML: <div class="loader"></div> */
.spinner {
  aspect-ratio: 1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}
