*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: "Inter", sans-serif;
}

html {
  /* color-scheme: dark light; */
  hanging-punctuation: first last;
  line-height: 1.15;
}

body {
  min-height: 100svh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty;
}

img,
svg,
picture,
video {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  html,
  :has(:target) {
    scroll-behavior: smooth;
  }
}
