:root {
  --spacing: 16px;
  --padding: 16px;
  --margin: 16px;
  --gap: 16px;
  --border-radius: 4px;
  --readable-width: 600px;
  --mobile-breakpoint: 480px;
  --tablet-breakpoint: 768px;
  --desktop-breakpoint: 1240px;
  --largescreen-breakpoint: 1440px;
  --z-index: 1;
}

/* flex */
.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ai-center {
  align-items: center;
}

.ai-flex-start {
  align-items: flex-start;
}

.ai-flex-end {
  align-items: flex-end;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-space-around {
  justify-content: space-around;
}

.jc-center {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

/* gap */

.gap-1 {
  gap: var(--gap);
}

.gap-2 {
  gap: calc(var(--gap) * 2);
}

.gap-8 {
  gap: calc(var(--gap) / 2);
}

.gap-4 {
  gap: calc(var(--gap) / 4);
}

/* font size */
.fs-h1 {
  font-size: 6rem;
}

.fs-h2 {
  font-size: 3.75rem;
}

.fs-h3 {
  font-size: 3rem;
}

.fs-h4 {
  font-size: 2.125rem;
}

.fs-h5 {
  font-size: 1.5rem;
}

.fs-h6 {
  font-size: 0.875rem;
}

.fs-heading {
  font-size: clamp(1.85rem, 4vw, 3rem);
}

.fs-subheading {
  font-size: clamp(1.25rem, 3vw, 1.5rem);
}

.fs-medium {
  font-size: clamp(1rem, 2vw, 1.25rem);
}

.fs-regular {
  font-size: 1rem;
}

.fs-small {
  font-size: 0.875rem;
}

.fs-extrasmall {
  font-size: 0.75rem;
}

.fs-button {
  font-size: clamp(0.8rem, 2vw, 1.06rem);
}

.fs-caption,
.fs-overline-text {
  font-size: 0.675rem;
}

/* text alignment */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

/* position */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sticky-top {
  position: sticky;
  top: 0;
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
}

/* margin and padding */
.m-1 {
  margin: var(--margin);
}

.m-2 {
  margin: calc(var(--margin) * 2);
}

.m-8 {
  margin: calc(var(--margin) / 2);
}

.ml-4 {
  margin: calc(var(--margin) / 4);
}

.my-1 {
  margin-block: var(--margin);
}

.my-2 {
  margin-block: calc(var(--margin) * 2);
}

.my-8 {
  margin-block: calc(var(--margin) / 2);
}

.my-4 {
  margin-block: calc(var(--margin) / 4);
}

.mx-1 {
  margin-inline: var(--margin);
}

.mx-2 {
  margin-inline: calc(var(--margin) * 2);
}

.mx-8 {
  margin-inline: calc(var(--margin) / 2);
}

.mx-4 {
  margin-inline: calc(var(--margin) / 4);
}

.margin-inline-auto {
  margin-inline: auto;
}

.ml-4 {
  margin-left: calc(var(--margin) / 4);
}

.ml-8 {
  margin-left: calc(var(--margin) / 2);
}

.mr-4 {
  margin-right: calc(var(--margin) / 4);
}

.mr-8 {
  margin-right: calc(var(--margin) / 2);
}

.mt-1 {
  margin-top: var(--margin);
}

.mt-2 {
  margin-top: calc(var(--margin) * 2);
}

.mt-8 {
  margin-top: calc(var(--margin) / 2);
}

.mt-4 {
  margin-top: calc(var(--margin) / 4);
}

.mb-1 {
  margin-bottom: var(--margin);
}

.mb-2 {
  margin-bottom: calc(var(--margin) * 2);
}

.mb-8 {
  margin-bottom: calc(var(--margin) / 2);
}

.mb-4 {
  margin-bottom: calc(var(--margin) / 4);
}

.p-1 {
  padding: var(--padding);
}

.p-2 {
  padding: calc(var(--padding) * 2);
}

.p-8 {
  padding: calc(var(--padding) / 2);
}

.p-4 {
  padding: calc(var(--padding) / 4);
}

.py-1 {
  padding-block: var(--padding);
}

.py-2 {
  padding-block: calc(var(--padding) * 2);
}

.py-8 {
  padding-block: calc(var(--padding) / 2);
}

.py-4 {
  padding-block: calc(var(--padding) / 4);
}

.px-1 {
  padding-inline: var(--padding);
}

.px-2 {
  padding-inline: calc(var(--padding) * 2);
}

.px-8 {
  padding-inline: calc(var(--padding) / 2);
}

.px-4 {
  padding-inline: calc(var(--padding) / 4);
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

/* Border and Outline */
.border-none {
  border: none;
}

.outline-none {
  outline: none;
}

.br-4 {
  border-radius: 4px;
}

.br-5 {
  border-radius: 5px;
}

.br-10 {
  border-radius: 10px;
}

.br-1 {
  border-radius: 1rem;
}

.br-2 {
  border-radius: 2rem;
}

.br-50,
.circle {
  border-radius: 50%;
}

.oval {
  border-radius: 100vmax;
  -webkit-border-radius: 100vmax;
  -moz-border-radius: 100vmax;
  -ms-border-radius: 100vmax;
  -o-border-radius: 100vmax;
}

/* Grid */

.grid {
  display: grid;
}

.grid-center {
  display: grid;
  place-items: center;
}

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--gap);
}

/* height and width */
.h-full {
  height: 100%;
}

.h-100 {
  height: 100svh;
}

.min-h-100 {
  min-height: 100svh;
}

.w-100 {
  width: 100svw;
}

.w-full {
  width: 100%;
}

.min-w-100 {
  min-width: 100%;
}

.max-w-350 {
  max-width: 350px;
}

.max-w-480 {
  max-width: 480px;
}

.max-w-600 {
  max-width: 600px;
}

.max-w-680 {
  max-width: 680px;
}

.max-w-768 {
  max-width: 680px;
}

.max-w-1024 {
  max-width: 1024px;
}

.max-w-1350 {
  max-width: 1350px;
}

.max-w-1440 {
  max-width: 1440px;
}

.max-w-1920 {
  max-width: 1920px;
}

.max-w-100 {
  max-width: 100%;
}

.max-content {
  width: max-content;
}

.min-content {
  width: min-content;
}

.min-w-0 {
  min-width: 0;
}

/* display */
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.hidden {
  display: hidden;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

/* font weight */
.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}

/* z index */
.layer-1 {
  z-index: var(--z-index);
}
.layer-2 {
  z-index: calc(var(--z-index) + 1);
}
.layer-3 {
  z-index: calc(var(--z-index) + 2);
}
.layer-4 {
  z-index: calc(var(--z-index) + 3);
}
.layer-5 {
  z-index: calc(var(--z-index) + 4);
}

/* Cursor */
.cursor-default {
  cursor: default;
}

.pointer {
  cursor: pointer;
}

/* Custom Container */
.readable-container {
  max-width: var(--readable-width);
  margin-inline: auto;
}

.container {
  max-width: var(--largescreen-breakpoint);
  margin-inline: auto;
}

.max-container {
  max-width: 1600px;
  margin-inline: auto;
}

.small-container {
  max-width: var(--desktop-breakpoint);
  margin-inline: auto;
}

.overlay-blur {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.input {
  border: none;
  outline: none;
  padding: var(--padding);
  border-radius: var(--border-radius);
  width: 100%;
  max-width: 600px;
  min-width: 0;
}

.italic {
  font-style: italic;
}

.capital {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.btn {
  padding-block: clamp(0.5rem, 2vw, 0.75rem);
  padding-inline: clamp(0.75rem, 2vw, 1rem);
  border: none;
  outline: none;
  font-weight: 500;
}

/* Shadow */
.shadow-small {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.shadow-regular {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.shadow-large {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}
